@model IEnumerable<Chat>
<div class="side-menu">
    @foreach (var item in Model)
    {
        <a class= "group-btn" asp-controller="Home" asp-action="Chat" asp-route-Id="@item.Id"> 
            @item.Name 
        </a>
    }    
    <a class= "group-btn" id = "create-group-btn" href = "#"><strong> +</strong></a>
</div>